site_name: BastionLab

site_url: https://www.mithrilsecurity.io/

repo_url: https://github.com/mithril-security/bastionlab

theme:
  name: material
  custom_dir: docs/material_theme_customization
  features:
    - navigation.instant
    - search.highlight
    - content.tabs.link
  logo: assets/logo.png
  favicon: assets/logo.png
  palette:
    - scheme: slate
      toggle:
        icon: material/weather-sunny
    - scheme: default
      toggle:
        icon: material/weather-night

extra:
  homepage: https://mithrilsecurity.io

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - 'https://code.jquery.com/jquery-3.3.1.min.js'

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

plugins:
- search
- mkdocs-jupyter

nav:
- Home: 'index.md'
- Quick Tour: 'docs/quick-tour/quick-tour.ipynb'
- Tutorials:
  - Data Visualization: 'docs/tutorials/visualization.ipynb'
- Concept Guides:
  # - Confidential Computing: 'docs/concept-guides/confidential_computing.md'
  - Threat Model: 'docs/concept-guides/threat_model.md'
  - Remote Data Science: 'docs/concept-guides/remote_data_science.md'
- Advanced:
  - Deployment:
    - On Premise: 'docs/reference-guides/deployment/on_premise.md'
  - Benchmarks:
    - Polars : 'docs/reference-guides/benchmarks/polars.md'