/* MKDOCS CSS */

/* Color chart
	Oxford blue: #142540
	Blue Yonder: #647693
	Light Steel Blue: #B3C6E5
	Orange Yellow: #F0BA2D
	Black: #000000
*/

/****** Dark mode ******/
[data-md-color-scheme="slate"] {
    --md-primary-fg-color:#142540; /*header color*/
	--md-default-bg-color:#030e1a; /*background*/
    --md-typeset-a-color:#F0BA2D; /*clicked link*/
    --md-accent-fg-color: #F0BA2D; /*hover color*/
}

/****** Light mode ******/
[data-md-color-scheme="default"] {
    --md-primary-fg-color: #142540; /*header color*/
	--md-typeset-a-color:#5385d5; /*clicked link*/
	--md-accent-fg-color: #5385d5; /*hover color*/
}

/****** Tweaking the navigation sections style only on Desktop ******/

@media screen and (min-width: 1025px) {

	/* rules to style all level 0 navigation titles */
	nav[data-md-level="0"]>ul>li>.md-nav__link {
		font-weight: bold;
		text-transform: uppercase;
	}

	/* rules to style level 2 collapsible sections titles */
	nav[data-md-level="1"]>ul>li.md-nav__item--nested>label.md-nav__link {
		font-weight: bold;
	}
}
